body {
    background-image: url(fondo1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#Texto1 {
    width: 100%;
    background-image: linear-gradient(white, rgb(62, 141, 245));
    border: 2cm;
    border-radius: 8px;
    grid-column: 1/2;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    text-align: justify;
    margin-top: 10px;
    margin-left: 40px;
}

#parrafos {
    font-size: 20px;
    color: rgb(0, 0, 0);
}

h3 {
    padding: 2%;
    text-shadow: 3px;
    text-decoration: underline;
}

#p_texto1 {
    text-align: center;
    margin-bottom: 2em;

}

.cont-header {
    grid-template-columns: auto 30%;
    display: grid;


}

.cont-carrusel {
    width: 80%;
    margin: 0 auto;
}

figure {
    width: 300px;
    height: auto;
}

#imagen1 {

    grid-column: 2/3;
    width: 100px;
    margin-left: -50%;
    margin-top: 90px;
    float: right;
    object-fit: contain;

}

section {
    float: left;
    padding: 5%;

}

#separacion {
    clear: both;
}

#texto2 {
    width: 100%;
    float: right;
    font-size: 200%;
    text-align: justify;
}

#p_texto2 {
    text-align: center;
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(255, 238, 0), rgb(40, 255, 21));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: monospace;
    border-color: aquamarine;
}

#imagen2 {
    max-width: 50%;
    float: left;
}

/*FUENTE GLITCH*/


svg {
    width: 200px;
    height: 50px;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    background: rgba(31, 29, 29, 0);
}

/*css galeria de videos*/
.cont-videos {
    margin: 0 auto;

    width: 80%;
}

.pb-video-container {
    padding-top: 0px;
    margin-left: 130px;
    font-family: Lato;
    position: relative;

    background-color: rgba(105, 105, 105, 0);
}


.pb-video {
    border: 1px solid #e6e6e6;
    padding: 5px;
}

.pb-video:hover {
    background: #2c3e50;
}

.pb-video-frame {
    transition: width 2s, height 2s;
}

.pb-video-frame:hover {
    height: 300px;
}

.pb-row {
    margin-bottom: 10px;
}

/*footer*/
.cont-footer {

    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p_footer {
    font-size: larger;
    align-items: center;
    text-align: center;
}

.buttons {
    min-width: 700px;
    display: flex;
    justify-content: space-around;
}

.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}

.buttons a:hover {
    transform: scale(1.2);
}